// ===================
// © AngelaMos | 2026
// toast.module.scss
// ===================

@use '@/styles' as *;

:global {
  [data-sonner-toaster] {
    --normal-bg: #{$bg-surface-100};
    --normal-border: #{$border-default};
    --normal-text: #{$text-default};

    --success-bg: #{$bg-surface-100};
    --success-border: #{$border-default};
    --success-text: #{$text-default};

    --error-bg: #{$bg-surface-100};
    --error-border: #{$error-default};
    --error-text: #{$text-default};

    --warning-bg: #{$bg-surface-100};
    --warning-border: #{$border-default};
    --warning-text: #{$text-default};

    --info-bg: #{$bg-surface-100};
    --info-border: #{$border-default};
    --info-text: #{$text-default};

    font-family: $font-sans;
  }

  [data-sonner-toast] {
    border-radius: $radius-md;
    padding: $space-3 $space-4;
    font-size: $font-size-sm;
    border: 1px solid $border-default;
    background: $bg-surface-100;
    color: $text-default;

    [data-title] {
      font-weight: $font-weight-medium;
    }

    [data-description] {
      color: $text-light;
      font-size: $font-size-xs;
    }

    [data-close-button] {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      color: $text-muted;
      @include transition-fast;

      @include hover {
        color: $text-default;
      }
    }
  }

  [data-sonner-toast][data-type='error'] {
    border-color: $error-default;
  }
}
