# ©AngelaMos | 2026
# .dockerignore

.git
.venv
data
**/__pycache__
**/*.pyc
.pytest_cache
**/.pytest_cache

frontend/node_modules
frontend/dist
frontend/.vite
frontend/.biome_cache

docs/plans
docs/context
