// ===================
// © AngelaMos | 2026
// styles.scss
// ===================

@forward 'styles/tokens';
@forward 'styles/fonts';
@forward 'styles/mixins';

@use 'styles/reset';
@use 'styles/tokens' as *;
@use 'styles/fonts' as *;

#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: $bg-default;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $bg-default;
  color: $text-default;
  font-family: $font-sans;
}
